/* line 3, ../sass/cube.scss */
html {
  font-size: 62.5%;
}

/* line 7, ../sass/cube.scss */
body {
  font-size: 1.2rem;
}

/* line 11, ../sass/cube.scss */
#playground {
  position: fixed;
  border: 2px solid lightgrey;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 1000px;
  perspective-origin: 50% 100%;
}

/* line 23, ../sass/cube.scss */
.cube {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
}

/* line 29, ../sass/cube.scss */
.cube-face {
  background-color: #6b8aab;
  border: 3px solid black;
  width: 297px;
  height: 297px;
  position: absolute;
  opacity: 0.5;
  text-align: center;
  font-size: 4rem;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* line 42, ../sass/cube.scss */
#c-front {
  background-color: red;
  transform: translateZ(150px);
}

/* line 47, ../sass/cube.scss */
#c-back {
  background-color: green;
  transform: translateZ(-150px) rotateY(180deg) rotate(180deg);
}

/* line 52, ../sass/cube.scss */
#c-top {
  background-color: lemon;
  transform: translateY(-150px) rotateX(90deg);
}

/* line 57, ../sass/cube.scss */
#c-bottom {
  background-color: lightgrey;
  transform: translateY(150px) rotateX(-90deg);
}

/* line 62, ../sass/cube.scss */
#c-left {
  background-color: cyan;
  transform: translateX(-150px) rotateY(-90deg);
}

/* line 68, ../sass/cube.scss */
#c-right {
  background-color: lightgrey;
  transform: translateX(150px) rotateY(90deg);
}

@keyframes rotatingCube {
  /* line 75, ../sass/cube.scss */
  0% {
    top: 0px;
  }

  /* line 76, ../sass/cube.scss */
  33% {
    top: 50px;
    animation-timing-function: ease-out;
  }

  /* line 77, ../sass/cube.scss */
  100% {
    top: 100px;
    left: 10px;
  }
}
